[user]
    name = jun
    email = 
[core]
    precomposeunicode = true
[alias]
    ls = log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges
    ds = diff --staged      # git ds - diff your staged changes == review before committing.
    st = status -sb         # smarter status - include tag and branch info
    fup = log --since '10 day ago' --oneline --author sjune@coupang.com  # I know what you did yesterday - great for follow-ups
    lsv = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short --numstat    # a verbose ls, shows changed files too
    ld = log --graph --date-order -C -M --pretty=format:\"%C(blue)%h %C(bold green)(%ar)%C(reset) %C(red)%d %C(reset)%s%C(green) [%cn]\"  --all --date=short
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[credential]
    helper = osxkeychain
